# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/depends.mk

# emacs temporary files
*~
.DS_Store

# binaries created
bin/

# xdrfile libraries
include/xdrfile/
*XDATCAR

# ignore trajectories and txt files
*.dump
*.trr
*.xtc
*.gro
*XDATCAR
*.txt

# ignore latex files
*.aux
*.log
*.out
*.gz

# ignore xcode 
DerivedData/
Intermediates/
Products/
xdrfileinclude/
xdrfilelib/

possibleTodo