<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>computeFourPointCorrelation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>computeMeanSquaredDisplacement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>computeNonGaussian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>computePairDistributionFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>computeSelfIntermediateScattering.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>computeSelfVanHoveFunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>computeStructureFactor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>computeVelocityAutoCorrelation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D820E24D1B7A5DEF00D321C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88D4CDD1B7A7589009A16E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88D4CE81B7A75A2009A16E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88D4CF31B7A75B5009A16E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88D4CFE1B7A75C2009A16E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88D4D091B7A75D0009A16E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88D4D141B7A75DC009A16E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C1D9F41B8D1BAF005B23B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
